<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.safenation.logistics.ui.LogisticsDashboard"
            android:exported="false" />
        <activity
            android:name="com.safenation.logistics.ui.HealthFitness"
            android:exported="false" />
        <activity
            android:name="com.safenation.logistics.ui.VehicleInspection"
            android:exported="false" />
        <activity
            android:name="com.safenation.logistics.ui.ReportIssue"
            android:exported="false" />
        <activity
            android:name="com.safenation.logistics.ui.LogisticsSettings"
            android:exported="true" />
        <activity
            android:name="com.safenation.logistics.ui.Emergency"
            android:exported="false" />
        <activity
            android:name="com.safenation.logistics.ui.DrivingTips"
            android:exported="false" />
        <activity
            android:name="com.safenation.logistics.ui.Checklist"
            android:exported="false" />

    </application>

</manifest>